:root {
    --text-color: #e2e2e2;
    --background-color: #131516;
    --header-color: #000306;
    --background-second: #343738;
    --primary-color: #ce5c2f;
    --secondary-color: #565a1e81;
    --accent-color: #f50000;
}

a:link,
a:visited,
a:active {
    text-decoration: none;
    color: var(--primary-color);
}

a:hover {
    text-decoration: underline;
    color: var(--accent-color);
}

.hr {
    display: flex;
    align-items: center;
    justify-content: center;

    & > p {
        border-left: solid 2px var(--background-second);
        height: 95%;
    }
}

body {
    margin: 0;
    color: var(--text-color);
    background-color: var(--background-color);
    font: small-caps 400 18px/1 sans-serif;

    & > header {
        display: flex;
        background-color: var(--header-color);
        background-image: url(src/phasmo.jpg);
        background-size: auto 14em;
        background-repeat: no-repeat;
        background-position: center;
        height: 4.2em;

        & > h1 {
            margin-left: 3rem;
            font: small-caps bold 30px/1 sans-serif;
            color: var(--accent-color);
        }
    }

    & > main {
        min-height: calc(100vh - 4.2em - 3em);

        display: grid;
        grid-template-columns: 18em 2em calc(97vw - 19em);
        justify-content: center;
        padding-left: 2vw;
        padding-right: 2vw;
        padding-top: 1vw;
        padding-bottom: 1vw;

        & > aside {
            & > h2 {
            }
            & > hr {
                margin-top: 1.5em;
            }

            & > div {
                & > article {
                    display: flex;
                    gap: 2em;
                    align-items: center;
                    margin: .5em;
                    background-color: var(--header-color);
                    border-radius: 5px;
                    padding: 0.5em;
                    height: 2.5em;
                    font-weight: bolder;
                    cursor: pointer;
                    transition: 0.2s;

                    & > img {
                        height: 2.5em;
                    }
                }

                & > .selected {
                    color: var(--accent-color);
                    background-color: var(--header-color);
                }
            }
        }

        & > section {
            & > h2 {
            }

            & > #ghostsContainer > div > article {
                background-color: var(--header-color);
            }

            & > #eliminatedGhosts > div > article {
                background-color: var(--background-second);
            }

            & > div {
                display: flex;
                flex-wrap: wrap;

                & > div {
                    & > article {
                        height: calc(100% - 3em);
                        margin: 0.3em;
                        border-radius: 5px;
                        padding: 1em;
                        width: 20em;
                        cursor: pointer;

                        & > .title {
                            display: flex;
                            justify-content: space-between;
                            align-items: center;

                            & > h3 {
                                margin: 0;
                                font-size: 1.5em;
                                color: var(--accent-color);
                            }

                            & > ul {
                                margin: 0;
                                display: flex;
                                gap: 1.5em;
                                list-style: none;
                                font-size: 0.7em;
                                padding-left: 0;

                                & > li > img {
                                    height: 2.7em;
                                }
                            }
                        }

                        & > hr {
                            margin-top: 0.3em;
                            margin-bottom: 0;
                        }

                        & > .baseInfos {
                            display: flex;
                            align-items: center;
                            justify-content: space-between;
                            margin: 0;

                            & > p {
                                margin: 0.5em;
                                font:
                                    0.88rem "Fira Sans",
                                    sans-serif;
                            }

                            & .speed, & .sanity {
                                margin-top: 0.5em;
                                font-size: 0.88em;
                                font-weight: bolder;
                                color: #fff;
                            }
                        }

                        & > .infos {
                            font:
                                1rem "Fira Sans",
                                sans-serif;

                            & > ul {
                                padding-left: 0.3em;
                                padding-right: 1.5em;
                            }

                            & > .power {
                                & > li {
                                    list-style: none;
                                }

                                & > li::before {
                                    content: "";
                                    display: inline-block;
                                    height: 1.5em;
                                    width: 1.5em;
                                    background-image: url(src/power.svg);
                                    background-position: center;
                                    background-position-y: 0.3em;
                                }
                            }

                            & > .weakness {
                                & > li {
                                    list-style: none;
                                }

                                & > li::before {
                                    content: "";
                                    display: inline-block;
                                    height: 1.5em;
                                    width: 1.5em;
                                    background-image: url(src/weakness.svg);
                                    background-position: center;
                                    background-position-y: 0.3em;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    & > #details {
        position: fixed;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        display: flex;
        justify-content: center;
        align-items: center;

        & > article {
            background-color: var(--background-color);
            height: fit-content;
            width: 80vw;
            padding: 2em;

            & > .title {
                display: grid;
                grid-template-columns: 22em calc(100% - 25em) 3em;
                align-items: center;
                margin-bottom: 1em;

                & > h2 {
                    text-align: center;
                    font-size: 4em;
                    margin: 0;
                    color: var(--accent-color);
                }

                & > ul {
                    display: grid;
                    grid-template-columns: 33% 33% 33%;
                    list-style: none;
                    align-items: center;
                    padding-right: 10%;
                    padding-left: 10%;
                    margin: 0;

                    & > li {
                        text-align: center;

                        & > img {
                            width: 3em;
                        }
                    }
                }

                & > button {
                    margin-bottom: auto;
                    background-color: var(--background-color);
                    border: 0;
                    height: 4em;
                    width: 4em;
                    background-image: url(src/close.svg);
                    background-size: 4em 4em;
                }
            }

            & > .misc {
                display: grid;
                grid-template-columns: 33% 1em 33% 1em 33%;
                justify-content: center;
                margin-bottom: 0.5em;

                & > section {
                    display: flex;
                    justify-content: center;
                    font-size: 1.1em;
                    font:
                        1.1rem "Fira Sans",
                        sans-serif;

                    & > .value {
                        font-weight: bolder;
                        font-size: 1.15em;
                        margin-left: 1em;
                    }
                }
            }

            & > .traits,
            & > .strats {
                font:
                    1.2rem "Fira Sans",
                    sans-serif;

                & li {
                    margin: 0.4em;
                }
            }

            & > h3 {
                font-size: 2rem;
                font-weight: bolder;
            }
        }
    }

    & > footer {
        margin: 0;
        background-color: var(--header-color);

        & > ul {
            margin: 0;
            display: flex;
            gap: 10em;
            align-items: center;
            justify-content: center;
            background-color: var(--header-color);
            height: 3em;

            & > li {
                list-style: none;
                font-size: 0.9em;
            }
        }
    }
}

#svgBook {
    background-color: var(--primary-color);
    -webkit-mask: url(src/book.svg) no-repeat center;
    mask: url(src/book.svg) no-repeat center;
    width: 10em;
}
